<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= group.crew %>
  </p>

  <p>
    <strong>D date:</strong>
    <%= group.d_date %>
  </p>

  <p>
    <strong>Group type:</strong>
    <%= group.group_type %>
  </p>
  <th>
    <strong>Concerts:</strong> <%=group.q_concert%>
  </th>
  <td>
    <% group.concerts.each do |concert|%>
      <ul>
        <li><%= concert.place %>,<%= concert.attendance%></li>
      </ul>
    <%end%>
  </td> 
</div>
